/**
 * common/index.css
 *
 * What it Does:
 *   This is your global CSS file, this file will style every page and
 *   component in your application.
 *
 * Things to Change:
 *   If you want any CSS properties to persist through all of your app
 *   or if any element you import has to be styled globally, this is the
 *   file to use.
 */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0A0A31;
  touch-action: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#p5_loading {
  display: flex;
  margin-top: 20vh;
  justify-content: center;
  text-align: center;
  animation-name: logo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Main Menu Styles */
#main-menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  text-align: center;
  margin-top: -20px;
}

.play-button {
  padding: 8vmin;
  padding-bottom: 2.5vmin;
  padding-top: 2.5vmin;
  font-size: 6vmin;
  border: 0;
  outline: none;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  margin-bottom: 20vmin;
  border-radius: 1vmin;
}

.play-button:hover {
  opacity: 0.75;
}

.title {
  font-size: 10vmin;
  overflow: wrap;
  zoom: 1.2;
}

.instructions {
  font-size: 2.5vmin;
  overflow: wrap;
  text-align: center;
  padding-right: 2vmin;
  padding-left: 2vmin;
  zoom: 1.1;
}

.main-menu-form {
  margin-top: 10vmin;
}

.main-menu-input-wrapper {
  zoom: 0.85;
  margin-top: -100px;
  display: flex;
  flex-direction: row;
  margin-right: 1vmin;
  margin-left: 1vmin;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.main-menu-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  margin-bottom: 5vmin;

  margin: 1vmin;
}

.main-menu-input-label {
  font-size: 3vmin;

}

.main-menu-input {
  border: 0;
  font-size: 4vmin;
  padding: 1vmin;

  opacity: 0.8;
  text-align: center;

  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);

  border-radius: 1vmin;

  outline: none;
}

.main-menu-input:active {
  opacity: 1;
}

.main-menu-input:hover {
  opacity: 1;
}

.change-character-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  border: 0.5vmin solid white;
  border-radius: 1vmin;
}

.main-menu-button {
  padding: 8vmin;
  padding-bottom: 2.5vmin;
  padding-top: 2.5vmin;
  font-size: 4vmin;
  border: 0;
  outline: none;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 1vmin;

  margin: 1vmin;
  zoom: 0.9;
}

.main-menu-button:hover {
  opacity: 0.75;
}

.character-preview-img {
  width: 20vmin;
  height: auto;
  margin: 1vmin;
  zoom: 0.60;
}

#picker-menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  text-align: center;
}

.picker-thumb-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;

  width: 100%;
  height: 100%;
}

.picker-thumb {
  outline: none;
  border: solid black 4px;
  background-color: white;
  border-radius: 1vmin;

  transition: all 0.1s cubic-bezier(.17, .67, 1, 1.82);

  width: 23vmin;
  height: auto;

  margin: 1vmin;

}

.picker-thumb:hover {
  transform: scale(1.1);
}

.picker-img {
  width: 100%;
}